include ../mixins/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ', crossorigin='anonymous')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css')
        link(rel="stylesheet", href="/css/main.css")
        title #{pageTitle}
    body
        script.
            var userLoggedIn = !{userLoggedInJs};
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                        i.fas.fa-dove 
                    a(href="/")
                        i.fas.fa-house
                    a(href="/search")
                        i.fas.fa-search 
                    a(href="/notifications")
                        i.fas.fa-bell 
                    a(href="/messages")
                        i.fas.fa-envelope 
                    a(href="/profile")
                        i.fas.fa-user 
                    a(href="/logout")
                        i.fas.fa-sign-out-alt 
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}
                    block content

                .d-none.d-md-block.col-md-2.col-lg-4

        script(src='https://kit.fontawesome.com/018ff2a8f0.js' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js', integrity='sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js', integrity='sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ', crossorigin='anonymous')

        block scripts

        script(src="/js/common.js")