extends layouts/main-layout.pug

block content

    if errorMessage
        span.errorMesage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';

        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-bs-toggle='modal', data-bs-target='#editChatNameModal')

            .mainContentContainer
                .loadingSpinnerContainer 
                    img(src="/images/loading.gif", alt="loading")

                .chatContainer(style="visibility: hidden")
                    ul.chatMessages
                    .footer 
                        textarea.inputTexbox(name="messageInput", placeholder="Type a message ...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane

    +createEditChatNameModal(chat)

block scripts
    script(src="/js/chatPage.js")